.login-card-custom {
  background-color: silver;
}
.fundo {
  background-color: rgb(rgb(8, 148, 15), green, blue);
}

.rodape {
  margin-top: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.col-12 {
    margin-top: 40px;
}

#titulo {
    align-items: center;
    text-align: center;
}

.links {
    margin-top: 40px;
    margin-bottom: 40px;
}

#formulario {
    margin-top: 50px;
}